body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    border: 0;
    background-color: #5C5C5C;
    color: white;
    font-family: "Aldrich", Arial, Helvetica, sans-serif;
}

.default-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 1300px;
    margin: 0;
    border: 0;
}

#clock-counter-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 60px;
    margin-bottom: 60px;
}

.clock-counter p{
    font-size: 11.25rem;
    margin: 0;
    background-color: #0137A3;
    padding: 80px 45px;
    border-radius: 30px;
    box-shadow: 0px 0px 20px white;
}

.separate-points p{
    font-size: 11.25rem;
    margin: 0;
}

.action-buttons img{
    width: 90px;
    padding: 20px 20px;
    transition: all linear 0.1s;
}

.action-buttons img:hover {
    width: 100px;
    background-color: #666666;
    border-radius: 100%;
    box-shadow: 0px 0px 20px white;
}

#alert-icon-off{
   display: none;
}


/* responsividade */


/* 600px // 849px  */

@media (min-width: 600px) and (max-width: 849px){


    .clock-counter p {
        font-size: 7.375rem;
    }

    .action-buttons img {
        width: 70px;
    }

    .action-buttons img:hover {
        width: 78px;
    }

}


/* 450px  //  599px */


@media (min-width: 450px) and (max-width: 599px){


    .clock-counter p {
        font-size: 4.063rem;
    }

    .action-buttons img {
        width: 55px;
    }

    .action-buttons img:hover {
        width: 65px;
    }

}



/*  320px //  449px */


@media (min-width: 320px) and (max-width: 449px){


    .clock-counter p {
        font-size: 2.188rem;
        padding: 55px 35px;
    }

    .action-buttons img {
        width: 70px;
    }

    .action-buttons img:hover {
        width: 75px;
    }

    .default-container h1{
        font-size: 1.25rem;
    }

    #clock-counter-container {
        margin: 45px;
    }

    .action-buttons {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }

}