body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}


.default-container {
    width: 100%;
    max-width: 1300px;
    padding: 0px 20px;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3928CF;
    min-height: 200px;
}

header img {
    width: 6.875rem;
}

#contact-links-header {
    display: flex;
    list-style: none;
    gap: 1rem;
    font-family: "Boldonse";
    font-size: 1rem;
}

#contact-links-header a {
    text-decoration: none;
    color: #3928CF;
    background-color: white;
    padding: 5px 30px;
    border-radius: 20px;
    transition: all linear 0.2s;
}

#contact-links-header a:hover {
    box-shadow: 1px 1px 20px white;
}

.container-hero {
    display: flex;
    background-color: #5685ED;
}

#left-hero {
    flex: 1;
    padding: 50px 30px;
    padding-top: 95px;
}

#left-hero h1 {
    font-size: 4.688rem;
    margin-bottom: 0px;
    margin-top: -20px;
    font-family: "Boldonse";
    color: #012541;
}



#right-hero {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 30px;
}

#right-hero img {
    width: 300px;
}

#left-hero p {
    margin-top: 32px;
}

#left-hero p, #right-hero p {
    font-size: 1.563rem;
    text-align: justify;
    color: white;
}

.project-area {
    display: flex;
    justify-content: center;
    background-color: #5685ED;
    padding: 50px 20px;
    border-top: black 2px solid;
}

.centralizar {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 50px;
    margin-top: 20px;
}

.project-card {
    background-color: #BED4E2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 315px;
    padding: 20px 20px;
    border-radius: 30px;
    border: solid 2px black;
}

.project-card h2 {
    font-size: 1.563rem;
}

.project-card img {
    width: auto;
    height: 6.875rem;

}

.project-card p {
    font-size: 1rem;
}

.project-card button {
    font-size: 1rem;
    background-color: #F56419;
    padding: 10px 35px;
    border: none;
    border-radius: 30px;
    transition: all linear 0.2s;
}

.project-card button:hover {
    padding: 12px 40px;
    box-shadow: 0px 0px 20px white;
}

.project-card button a {
    text-decoration: none;
    color: black;
}

footer{
    background-color: #282828;
}

.container-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
}

.icons-area nav {
    display: flex;
    gap: 30px;
} 

.icons-area nav img {
    width: 80px;
    transition: all linear 0.2s;
}

.icons-area nav img:hover {
    width: 88px;
}

.information-footer {
    font-size: 1.75rem;
    color: white;
    text-align: center;
}

.information-footer span {
    font-size: 2.188rem;
    color: #989898;
}

.information-footer a {
    color: white;
    transition: all linear 0.2s;
}

.information-footer a:hover {
    font-size: 2rem;
}

.nav-default{
    
}

.nav-menu-head {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 20px 0px;
}

.menu-icon {

}

.menu-icon img {
    width: 50px;
    display: none;
}
























/* flexible template */


@media (min-width: 1100px) and (max-width: 1254px){

    .container-hero {
        display: flex;
        background-color: #5685ED;
    }

    #left-hero h1 {
        font-size: 3.75rem;
    }

    #left-hero p {
        margin-top: 90px;
    }

    .centralizar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 120px;
    }


}




/* 880px // 1100px */

@media (min-width: 880px) and (max-width: 1100px){

    .container-hero {
        display: flex;
        background-color: #5685ED;
    }

    #left-hero h1 {
        font-size: 3.125rem;
    }

    #left-hero p {
        margin-top: 90px;
    }

    .centralizar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    #right-hero img {
        width: 260px;
    }


}





/*  680px// 880px */

@media (min-width: 680px) and (max-width: 880px){

    .container-hero {
        display: flex;
        flex-direction: column;
        background-color: #5685ED;
    }

    #left-hero h1 {
        font-size: 3.125rem;
    }

    #left-hero p {
        margin-top: 20px;
    }

    .centralizar {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px;
    }

    #right-hero img {
        width: 260px;
    }

    #left-hero {
        flex: 1;
        padding: 0px 30px;
        padding-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right-hero {
        padding: 0px 30px;
    }

    .project-card {
        max-width: 210px;
    }

    #contact-links-header {
        flex-direction: column;
        display: none;
    }


    .nav-menu-head {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
    }
    
    .menu-icon {
    
    }
    
    .menu-icon img {
        width: 50px;
        display: block;
    }



}





/* 540px // 680px */

@media (min-width: 540px) and (max-width: 680px){

    .container-hero {
        display: flex;
        flex-direction: column;
        background-color: #5685ED;
    }

    #left-hero h1 {
        font-size: 3.125rem;
    }

    #left-hero p {
        margin-top: 20px;
    }

    .centralizar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    #right-hero img {
        width: 260px;
    }

    #left-hero {
        flex: 1;
        padding: 0px 30px;
        padding-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right-hero {
        padding: 0px 30px;
    }

    .project-card {
        max-width: 330px;
    }

    #contact-links-header {
        flex-direction: column;
        display: none;
    }


    .nav-menu-head {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
    }
    
    .menu-icon {
    
    }
    
    .menu-icon img {
        width: 50px;
        display: block;
    }



}




/* 380px // 540px */

@media (min-width: 100px) and (max-width: 540px){

    .container-hero {
        display: flex;
        flex-direction: column;
        background-color: #5685ED;
    }

    #left-hero h1 {
        font-size: 2.188rem;
    }

    #left-hero p {
        margin-top: 20px;
    }

    .centralizar {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 60px;
    }

    #right-hero img {
        width: 260px;
    }

    #left-hero {
        flex: 1;
        padding: 0px 30px;
        padding-top: 95px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #right-hero {
        padding: 0px 30px;
    }

    .project-card {
        max-width: 268px;
    }

    #contact-links-header {
        flex-direction: column;
        display: none;
    }


    .nav-menu-head {
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px 0px;
    }
    
    .menu-icon {
    
    }
    
    .menu-icon img {
        width: 50px;
        display: block;
    }



}